@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin position-0 {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin explore-now {
  font-weight: 500;
  font-size: $sz24;
  line-height: $sz50;
  letter-spacing: $em-04;
  color: $gray-darkest;
  margin-top: $sz7;
}

@mixin card-h2 {
  font-weight: 500;
  font-size: $sz32;
  line-height: $sz50;
  letter-spacing: $em-04;
  color: $black-lighter;
}

@mixin arrow {
  width: $sz32;
  height: $sz28;
  margin-top: $sz38;
}

//responsive - max-width 519px

@mixin explore-now-519 {
  font-weight: 500;
  font-size: 6.4px;
  line-height: 13.5px;
  letter-spacing: $em-04;
  color: $gray-darkest;
  margin-top: 1.89px;
}

@mixin card-h2-519 {
  font-weight: 500;
  font-size: 8.66px;
  line-height: 13.5px;
  letter-spacing: $em-04;
  color: $black;
}

@mixin arrow-519 {
  width: 9px;
  height: 5px;
  margin-top: 10.28px;
}

//responsive - max-width 912px

@mixin explore-now-912 {
  font-weight: 500;
  font-size: 11.4px;
  line-height: 23.75px;
  letter-spacing: $em-04;
  color: $gray-darkest;
  margin-top: 3.33px;
}

@mixin card-h2-912 {
  font-weight: 500;
  font-size: 15.2px;
  line-height: 23.75px;
  letter-spacing: $em-04;
  color: #191919;
}

@mixin arrow-912 {
  width: 15.2px;
  height: 12px;
  margin-top: 18.21px;
}
