//Colors
$white: white;
$white-darker: #fffcf8;
$white-darkest: #f4f6f5;
$white-dark: #efeceb;
$gray: #7c7c7c;
$gray-ligrter: #8e8e8e;
$gray-lightest: #d9d9d9;
$gray-darker: #767676;
$gray-darkest: #7a7a7a;
$blue: #c2c8da;
$black: #000000;
$black-light: #231300;
$black-lighter: #191818;
$black-lightest: #242323;
$gold-light: #ebd96b;
$gold-medium: #e5c643;

//Fonts
$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;

// Font Sizes
$sz1920: 1920px;
$sz1720: 1720px;
$sz1440: 1440px;
$sz912: 912px;
$sz852: 852px;
$sz846: 846px;
$sz817: 817px;
$sz805: 805px;
$sz704: 704px;
$sz590: 590px;
$sz575: 575px;
$sz519: 519px;
$sz490: 490px;
$sz484: 484px;
$sz415: 415px;
$sz230: 230px;
$sz200: 200px;
$sz153: 153px;
$sz134: 134px;
$sz125: 125px;
$sz120: 120px;
$sz119: 119px;
$sz118: 118px;
$sz112: 112px;
$sz104: 104px;
$sz100: 100px;
$sz96: 96px;
$sz90: 90px;
$sz82: 82px;
$sz77: 77px;
$sz76: 76px;
$sz75: 75px;
$sz71: 71px;
$sz70: 70px;
$sz68: 68px;
$sz67: 67px;
$sz63: 63px;
$sz62: 62px;
$sz61: 61px;
$sz58: 58px;
$sz55: 55px;
$sz52: 52px;
$sz50: 50px;
$sz48: 48px;
$sz46: 46px;
$sz41: 41px;
$sz40: 40px;
$sz39: 39px;
$sz38: 38px;
$sz37: 37px;
$sz36: 36px;
$sz35: 35px;
$sz34: 34px;
$sz33: 33px;
$sz32: 32px;
$sz30: 30px;
$sz29: 29px;
$sz28: 28px;
$sz27: 27px;
$sz26: 26px;
$sz25: 25px;
$sz24: 24px;
$sz23: 23px;
$sz22: 22px;
$sz20: 20px;
$sz17: 17px;
$sz15: 15px;
$sz13: 13px;
$sz10: 10px;
$sz9: 9px;
$sz8: 8px;
$sz7: 7px;
$sz4: 4px;
$sz3: 3px;
$szdeg: -2deg;
$em03: 0.03em;
$em02: 0.02em;
$em-02: -0.02em;
$em-03: -0.03em;
$em-04: -0.04em;
$em-05: -0.05em;
