@import "./mixin";
@import "./reset";
@import "./variables";

//Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  position: relative;
  width: $sz1920;
  height: 6814px;
  background-color: $white;
  font-family: $font-primary;

  & .arrow {
    @include arrow;
  }

  & .card-h2 {
    @include card-h2;
  }

  & .explore-now {
    @include explore-now;
  }
}

//header
.Header {
  position: absolute;
  top: $sz46;
  left: $sz100;
  width: $sz1720;
  height: $sz62;

  & img {
    width: 236px;
    height: 60px;
    margin-left: 0;
  }
}

.li-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 840px;
  height: $sz62;
}

.li-btn ul {
  @include flex-between;
  width: 652px;
  height: $sz36;
  margin: $sz13 54px $sz13 0;

  & li {
    font-weight: 500;
    font-size: $sz22;
    line-height: 100%;
    letter-spacing: -0.22px;
    color: $black-lightest;

    & a {
      color: $black;
    }
  }
}

.btn-sing-up {
  width: 134px;
  height: $sz62;
  border-radius: $sz7;
  background-color: $black;
  color: $white;
  font-weight: 500;
  font-size: $sz24;
  cursor: pointer;
}

//section - Unique

.section-unique {
  position: absolute;
  top: $sz46;
  left: $sz100;
  width: $sz1720;
  height: $sz852;
}

.container-unique-clothes {
  position: absolute;
  top: $sz118;
  left: 0;
  width: $sz1720;
  height: $sz852;
  border-radius: 59px;
  background-color: $white-darkest;

  & h1 {
    position: absolute;
    top: $sz77;
    left: $sz119;
    width: 474px;
    height: 473px;
    font-weight: 900;
    font-size: $sz96;
    color: $black;
    line-height: $sz120;
  }

  p {
    position: absolute;
    top: $sz590;
    left: $sz119;
    width: 606px;
    height: $sz58;
    font-weight: 400;
    font-size: $sz32;
    line-height: 100%;
    color: $black-lighter;
    letter-spacing: -1.6px;
  }

  .btn-shop-now {
    position: absolute;
    top: 680px;
    left: $sz125;
    width: 221px;
    height: $sz82;
    border-radius: 10px;
    cursor: pointer;
    background-color: $black;
    color: $white;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.05em;
  }
}

.unique-img {
  position: absolute;
  top: $sz68;
  right: 81px;
  width: 871px;
  height: 784px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.gray-star {
  width: $sz58;
  height: 56px;
}

.gray-star1 {
  position: absolute;
  top: $sz68;
  left: 748px;
}

.gray-star2 {
  position: absolute;
  top: $sz104;
  left: 1424px;
}

.gray-star3 {
  position: absolute;
  top: 762px;
  left: 791px;
}

.gray-star4 {
  position: absolute;
  top: $sz704;
  left: 1579px;
}

.unique-bg-white {
  position: absolute;
  top: $sz77;
  left: $sz82;
  width: 465px;
  height: $sz112;
  rotate: $szdeg;
  background-color: $white;
}

.unique-bg-gold {
  position: absolute;
  top: 311px;
  left: 93px;
  width: 496px;
  height: $sz118;
  rotate: $szdeg;
  background-color: $gold-light;
}

//section - Brands

.brand {
  position: absolute;
  top: 1079px;
  left: 0;
  width: $sz1920;
  height: 186px;
  background-color: $gold-light;
}

.brand-logos {
  @include flex-between;
  position: absolute;
  top: $sz61;
  left: 171px;
  width: 1578px;
  height: $sz71;
}

.hm {
  width: $sz118;
  height: $sz70;
  mix-blend-mode: darken;
}

.obey {
  width: 150px;
  height: $sz52;
  mix-blend-mode: multiply;
  margin-top: 9px;
}

.shopify {
  width: 176px;
  height: $sz62;
  margin-top: $sz4;
  mix-blend-mode: multiply;
}

.lacoste {
  width: 235px;
  height: $sz70;
  mix-blend-mode: multiply;
}

.levis {
  width: 127px;
  height: $sz70;
  mix-blend-mode: multiply;
}

.amazon {
  width: 166px;
  height: $sz63;
  margin-top: 3.5px;
  mix-blend-mode: multiply;
}

//section - New Arrivals
.new-arrivals {
  position: absolute;
  top: 1334px;
  left: $sz104;
  width: 1714px;
}

.new-arrivals-logo {
  @include position-0;
  width: 430px;
  height: $sz58;
}
.new-arrivals-cards {
  display: flex;
  margin-top: 159px;
  width: 100%;
  height: 808px;
  gap: $sz90;
}

.new-arrivals-cards-img {
  width: 100%;
  height: $sz704;
  border-radius: $sz20;
}

.hoodies {
  width: $sz484;
  height: 100%;
}

.coats {
  margin-bottom: $sz3;
  width: $sz484;
  height: $sz805;
}

.tees {
  margin-bottom: $sz3;
  width: $sz490;
  height: $sz805;
}

.explore-now-hoodies {
  @include flex-between;
  width: 100%;
  height: $sz76;
  margin-top: $sz28;
}

.hoodies-text {
  width: 321px;
  height: 100%;

  & h2 {
    width: 100%;
    height: $sz36;
  }

  & p {
    width: 151px;
    height: $sz33;
  }
}

.explore-now-coats {
  @include flex-between;
  width: 100%;
  height: $sz75;
  margin-top: $sz26;
}

.coats-text {
  width: $sz230;
  height: 100%;

  & h2 {
    width: 100%;
    height: $sz36;
  }

  & p {
    width: $sz153;
    height: $sz32;
  }
}

.explore-now-tees {
  @include flex-between;
  width: 100%;
  height: $sz75;
  margin-top: $sz26;
}

.tees-text {
  width: $sz230;
  height: 100%;

  & h2 {
    width: 100%;
    height: $sz36;
  }

  & p {
    width: $sz153;
    height: $sz32;
  }
}

//section - Payday

.section-payday {
  position: absolute;
  top: 2491px;
  left: 0;
  width: $sz1920;
  height: 968px;
}

.payday-img {
  @include position-0;
  width: 992px;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
  }
}

.white-star {
  width: $sz76;
  height: $sz76;
}

.white-star1 {
  position: absolute;
  top: 152px;
  left: 136px;
}

.white-star2 {
  position: absolute;
  top: 84px;
  left: 765px;
}

.white-star3 {
  position: absolute;
  top: $sz490;
  left: 187px;
}

.white-star4 {
  position: absolute;
  top: 639px;
  left: 817px;
}

.payday-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 932px;
  height: 100%;
  background: linear-gradient(
    1.32deg,
    #e0c340 0.13%,
    #dfc23e 3.97%,
    #e1c441 7.2%,
    #e3c743 10.13%,
    #e4c542 12.98%,
    #e6c744 15.99%,
    #e7c845 19.52%,
    #e5c643 23.96%,
    #e6c945 30.43%,
    #e3c743 36.49%,
    #e9ca48 42.49%,
    #edce49 49.35%,
    #f0d44c 55.42%,
    #f4d84f 61.43%,
    #f6da52 65.74%,
    #f7db53 72.23%,
    #f9dd55 77.43%,
    #f9df56 83.84%,
    #fae157 91.52%,
    #f9df56 97.87%
  );
}

.payday-text {
  position: absolute;
  top: 128px;
  left: $sz67;
  width: 667px;
  height: 685px;

  & h2 {
    position: absolute;
    top: 0;
    right: $sz50;
    width: 617px;
    height: 287px;
    font-weight: 900;
    font-size: $sz112;
    color: $black;
    line-height: 137px;
  }

  .btn-shop-now-payday {
    position: absolute;
    bottom: 0;
    left: $sz23;
    width: 266px;
    height: $sz96;
    border-radius: $sz8;
    cursor: pointer;
    background-color: $black;
    color: $white;
    font-weight: 600;
    font-size: $sz28;
    line-height: 100%;
    letter-spacing: $em02;
    text-transform: uppercase;
  }
}

.playday-p1 {
  position: absolute;
  top: 320px;
  left: $sz23;
  width: 643px;
  height: 91px;
  font-weight: 500;
  font-size: $sz36;
  line-height: 52.32px;
  letter-spacing: $em-02;
  color: $black-light;
}

.playday-p2 {
  position: absolute;
  top: 451px;
  left: $sz23;
  width: 429px;
  height: $sz38;
  font-weight: 700;
  font-size: $sz36;
  line-height: 52.32px;
  letter-spacing: $em02;
  color: $black;
}

.playday-p3 {
  position: absolute;
  top: 500px;
  left: $sz23;
  width: 492px;
  height: $sz37;
  font-weight: 400;
  font-size: $sz36;
  line-height: 52.32px;
  letter-spacing: $em-02;
  color: $black;
}

.payday-bg-white {
  position: absolute;
  top: 0;
  left: -23px;
  width: 542px;
  height: 130px;
  rotate: $szdeg;
  background-color: $white;
}

//section - Favourites
.Favourites {
  position: absolute;
  top: 3649px;
  left: $sz100;
  width: $sz1720;
  height: 847px;
}

.Favourites-logo {
  @include position-0;
  width: 551px;
  height: 64px;
}
.Favourites-cards {
  display: flex;
  margin-top: 168px;
  width: 100%;
  height: 679px;
  gap: 47px;
}

.Favourites-cards-img {
  width: 100%;
  height: $sz575;
  border-radius: $sz20;
}

.trending {
  width: 835px;
  height: 100%;
}

.explore-now-trending {
  @include flex-between;
  width: 100%;
  height: $sz76;
  margin-top: $sz28;
}

.trending-text {
  width: 345px;
  height: 100%;

  & h2 {
    width: 100%;
    height: $sz36;
  }

  & p {
    width: 146px;
    height: $sz33;
  }
}

.under {
  width: 838px;
  height: 100%;
}

.explore-now-under {
  @include flex-between;
  width: 100%;
  height: $sz75;
  margin-top: $sz28;
}

.under-text {
  width: 200px;
  height: 100%;

  & h2 {
    width: 100%;
    height: $sz35;
  }

  & p {
    width: 143px;
    height: $sz33;
  }
}

.favourite-cards-img {
  width: 100%;
  height: $sz575;
  border-radius: $sz20;
}

//section -Voucher

.voucher {
  display: flex;
  position: absolute;
  top: 4716px;
  left: 219px;
  width: 1483px;
  height: 710px;
}

.voucher-content {
  position: absolute;
  top: 181px;
  left: 0;
  width: 507px;
  height: 382px;
}

.voucher-content-text {
  @include position-0;
  width: 100%;
  height: 246px;

  & h2 {
    width: 100%;
    height: 144px;
    font-weight: 900;
    font-size: 48px;
    color: $black;
    line-height: 150%;
    letter-spacing: 0.04em;
  }

  & p {
    width: 419px;
    height: $sz61;
    font-weight: 500;
    font-size: $sz24;
    color: $gray;
    line-height: $sz35;
    letter-spacing: $em-04;
    margin-top: 41px;
  }
}

.voucher-apps {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 427px;
  height: $sz71;
  gap: 19px;
}

.app-match {
  position: absolute;
  top: -22.5px;
  right: $sz118;
  width: 3272.5x;
  height: 755px;
  border: 22.58px solid $blue;
  box-shadow: 0px $sz4 $sz63 rgba(0, 0, 0, 0.25);
  border-radius: $sz35;
  z-index: 1;
}

.circle1 {
  width: $sz22;
  height: $sz24;
  position: absolute;
  top: $sz55;
  left: $sz846;
}

.circle2 {
  width: $sz50;
  height: $sz50;
  position: absolute;
  top: $sz40;
  left: 1411px;
}

.circle3 {
  width: $sz34;
  height: $sz34;
  position: absolute;
  top: 669px;
  left: 812px;
}

.circle4 {
  width: $sz17;
  height: $sz17;
  position: absolute;
  top: $sz590;
  left: 1466px;
}

.circles-small {
  position: absolute;
  top: 138px;
  left: 937px;
  width: 440px;
  height: 434px;
  border: 2.5px solid $white-dark;
  border-radius: 50%;
}

.circles-medium {
  position: absolute;
  top: $sz90;
  left: 895px;
  width: 537px;
  height: 530px;
  border: 2.5px solid $white-dark;
  border-radius: 50%;
}

.circles-large {
  position: absolute;
  top: $sz40;
  left: $sz846;
  width: 637px;
  height: 629px;
  border: 2.5px solid $white-dark;
  border-radius: 50%;
}

//Section - Community

.community {
  position: absolute;
  top: 5646px;
  left: 0;
  width: $sz1920;
  height: 623px;
  background-color: $gold-medium;

  & h2 {
    margin-top: 141px;
    margin-left: 477px;
    width: 966px;
    height: 124px;
    font-weight: 900;
    font-size: $sz55;
    color: $white;
    line-height: $sz70;
    letter-spacing: $em03;
    text-align: center;
  }

  & p {
    margin-top: $sz37;
    margin-left: 455px;
    width: 1010px;
    height: 29px;
    font-weight: 400;
    font-size: $sz32;
    color: $white-darker;
    line-height: $sz35;
    letter-spacing: $em03;
    text-align: center;
  }
}

.add-email {
  margin-top: 49px;
  margin-left: 673px;
  width: 574px;
  height: 87px;
  background-color: $white;

  & .add-email-here {
    width: 269px;
    height: 25px;
    margin: $sz27 107px $sz35 $sz27;
    font-weight: 400;
    font-size: $sz24;
    color: $gray-darker;
    line-height: $sz35;
    letter-spacing: $em03;
    border: none;
  }
}

.add-email-btn {
  position: absolute;
  top: 390px;
  right: 683px;
  width: 161px;
  height: $sz67;
  border-radius: $sz8;
  padding: $sz17 $sz35 15px $sz38;
  cursor: pointer;
  background-color: $black;
  color: $white;
  font-weight: 500;
  font-size: $sz24;
}

//Section - Community

.footer {
  position: absolute;
  top: 6269px;
  left: 0;
  width: $sz1920;
  height: 545px;
  background-color: $black;
}

.footer-containter {
  margin-top: $sz119;
  margin-left: $sz100;
  width: $sz1720;
  height: 279px;
}

.fashion {
  width: $sz415;
  height: 248px;
  gap: $sz32;

  & h2 {
    width: 192px;
    height: $sz52;
    font-weight: 900;
    font-size: $sz40;
    color: $white;
    line-height: 100%;
    letter-spacing: $em03;
  }

  & p {
    font-family: $font-secondary;
    width: $sz415;
    height: 80px;
    font-weight: 400;
    font-size: $sz24;
    color: $gray-ligrter;
    line-height: $sz40;
    letter-spacing: $em02;
  }
}

.icons {
  display: flex;
  width: 250px;
  height: $sz52;
  margin-left: 0;
  margin-bottom: 0;
  gap: 14px;
  margin-top: $sz32;

  & img {
    width: $sz52;
    height: 100%;
  }
}

.footer-list {
  position: absolute;
  top: $sz125;
  right: $sz100;
  display: flex;
  width: 890px;
  height: 273px;
  gap: 188px;
}

thead {
  color: $gray-lightest;
}

tbody {
  color: $gray-darkest;

  & td {
    margin-top: $sz20;
  }
}

tr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

td {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: $sz23;
  line-height: $sz40;
  letter-spacing: $em02;
}

.company-list {
  width: $sz120;
  height: 100%;
}

.quick-Link-list {
  width: 177px;
  height: 100%;
}

.legal-list {
  width: 217px;
  height: 149px;
}
