@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

body {
  position: relative;
  width: 1920px;
  height: 6814px;
  background-color: white;
  font-family: "Poppins", sans-serif;
}
body .arrow {
  width: 32px;
  height: 28px;
  margin-top: 38px;
}
body .card-h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #191818;
}
body .explore-now {
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #7a7a7a;
  margin-top: 7px;
}

@media screen and (max-width: 519px) {
  body {
    position: relative;
    width: 519px;
    height: 1200px;
    background-color: white;
    font-family: "Poppins", sans-serif;
    padding-left: 1080px;
  }
  body .arrow {
    width: 9px;
    height: 5px;
    margin-top: 10px;
  }
  body .card-h2 {
    font-weight: 500;
    font-size: 8.5px;
    line-height: 13.5px;
    letter-spacing: -0.04em;
    color: #000000;
  }
  body .explore-now {
    font-weight: 500;
    font-size: 6.5px;
    line-height: 13.5px;
    letter-spacing: -0.04em;
    color: #7a7a7a;
    margin-top: 10px;
  }
}
.Header {
  position: absolute;
  top: 46px;
  left: 100px;
  width: 1720px;
  height: 62px;
}
.Header img {
  width: 236px;
  height: 60px;
  margin-left: 0;
}

.li-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 840px;
  height: 62px;
}

.li-btn ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 652px;
  height: 36px;
  margin: 13px 54px 13px 0;
}
.li-btn ul li {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.22px;
  color: #242323;
}
.li-btn ul li a {
  color: #000000;
}

.btn-sing-up {
  width: 134px;
  height: 62px;
  border-radius: 7px;
  background-color: #000000;
  color: white;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
}

.section-unique {
  position: absolute;
  top: 46px;
  left: 100px;
  width: 1720px;
  height: 852px;
}

.container-unique-clothes {
  position: absolute;
  top: 118px;
  left: 0;
  width: 1720px;
  height: 852px;
  border-radius: 59px;
  background-color: #f4f6f5;
}
.container-unique-clothes h1 {
  position: absolute;
  top: 77px;
  left: 119px;
  width: 474px;
  height: 473px;
  font-weight: 900;
  font-size: 96px;
  color: #000000;
  line-height: 120px;
}
.container-unique-clothes p {
  position: absolute;
  top: 590px;
  left: 119px;
  width: 606px;
  height: 58px;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #191818;
  letter-spacing: -1.6px;
}
.container-unique-clothes .btn-shop-now {
  position: absolute;
  top: 680px;
  left: 125px;
  width: 221px;
  height: 82px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.05em;
}

.unique-img {
  position: absolute;
  top: 68px;
  right: 81px;
  width: 871px;
  height: 784px;
}
.unique-img img {
  width: 100%;
  height: 100%;
}

.gray-star {
  width: 58px;
  height: 56px;
}

.gray-star1 {
  position: absolute;
  top: 68px;
  left: 748px;
}

.gray-star2 {
  position: absolute;
  top: 104px;
  left: 1424px;
}

.gray-star3 {
  position: absolute;
  top: 762px;
  left: 791px;
}

.gray-star4 {
  position: absolute;
  top: 704px;
  left: 1579px;
}

.unique-bg-white {
  position: absolute;
  top: 77px;
  left: 82px;
  width: 465px;
  height: 112px;
  rotate: -2deg;
  background-color: white;
}

.unique-bg-gold {
  position: absolute;
  top: 311px;
  left: 93px;
  width: 496px;
  height: 118px;
  rotate: -2deg;
  background-color: #ebd96b;
}

.brand {
  position: absolute;
  top: 1079px;
  left: 0;
  width: 1920px;
  height: 186px;
  background-color: #ebd96b;
}

.brand-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 61px;
  left: 171px;
  width: 1578px;
  height: 71px;
}

.hm {
  width: 118px;
  height: 70px;
  mix-blend-mode: darken;
}

.obey {
  width: 150px;
  height: 52px;
  mix-blend-mode: multiply;
  margin-top: 9px;
}

.shopify {
  width: 176px;
  height: 62px;
  margin-top: 4px;
  mix-blend-mode: multiply;
}

.lacoste {
  width: 235px;
  height: 70px;
  mix-blend-mode: multiply;
}

.levis {
  width: 127px;
  height: 70px;
  mix-blend-mode: multiply;
}

.amazon {
  width: 166px;
  height: 63px;
  margin-top: 3.5px;
  mix-blend-mode: multiply;
}

.new-arrivals {
  position: absolute;
  top: 1334px;
  left: 104px;
  width: 1714px;
}

.new-arrivals-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 58px;
}

.new-arrivals-cards {
  display: flex;
  margin-top: 159px;
  width: 100%;
  height: 808px;
  gap: 90px;
}

.new-arrivals-cards-img {
  width: 100%;
  height: 704px;
  border-radius: 20px;
}

.hoodies {
  width: 484px;
  height: 100%;
}

.coats {
  margin-bottom: 3px;
  width: 484px;
  height: 805px;
}

.tees {
  margin-bottom: 3px;
  width: 490px;
  height: 805px;
}

.explore-now-hoodies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 76px;
  margin-top: 28px;
}

.hoodies-text {
  width: 321px;
  height: 100%;
}
.hoodies-text h2 {
  width: 100%;
  height: 36px;
}
.hoodies-text p {
  width: 151px;
  height: 33px;
}

.explore-now-coats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  margin-top: 26px;
}

.coats-text {
  width: 230px;
  height: 100%;
}
.coats-text h2 {
  width: 100%;
  height: 36px;
}
.coats-text p {
  width: 153px;
  height: 32px;
}

.explore-now-tees {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  margin-top: 26px;
}

.tees-text {
  width: 230px;
  height: 100%;
}
.tees-text h2 {
  width: 100%;
  height: 36px;
}
.tees-text p {
  width: 153px;
  height: 32px;
}

.section-payday {
  position: absolute;
  top: 2491px;
  left: 0;
  width: 1920px;
  height: 968px;
}

.payday-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 992px;
  height: 100%;
}
.payday-img img {
  width: 100%;
  height: 100%;
}

.white-star {
  width: 76px;
  height: 76px;
}

.white-star1 {
  position: absolute;
  top: 152px;
  left: 136px;
}

.white-star2 {
  position: absolute;
  top: 84px;
  left: 765px;
}

.white-star3 {
  position: absolute;
  top: 490px;
  left: 187px;
}

.white-star4 {
  position: absolute;
  top: 639px;
  left: 817px;
}

.payday-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 932px;
  height: 100%;
  background: linear-gradient(1.32deg, #e0c340 0.13%, #dfc23e 3.97%, #e1c441 7.2%, #e3c743 10.13%, #e4c542 12.98%, #e6c744 15.99%, #e7c845 19.52%, #e5c643 23.96%, #e6c945 30.43%, #e3c743 36.49%, #e9ca48 42.49%, #edce49 49.35%, #f0d44c 55.42%, #f4d84f 61.43%, #f6da52 65.74%, #f7db53 72.23%, #f9dd55 77.43%, #f9df56 83.84%, #fae157 91.52%, #f9df56 97.87%);
}

.payday-text {
  position: absolute;
  top: 128px;
  left: 67px;
  width: 667px;
  height: 685px;
}
.payday-text h2 {
  position: absolute;
  top: 0;
  right: 50px;
  width: 617px;
  height: 287px;
  font-weight: 900;
  font-size: 112px;
  color: #000000;
  line-height: 137px;
}
.payday-text .btn-shop-now-payday {
  position: absolute;
  bottom: 0;
  left: 23px;
  width: 266px;
  height: 96px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.playday-p1 {
  position: absolute;
  top: 320px;
  left: 23px;
  width: 643px;
  height: 91px;
  font-weight: 500;
  font-size: 36px;
  line-height: 52.32px;
  letter-spacing: -0.02em;
  color: #231300;
}

.playday-p2 {
  position: absolute;
  top: 451px;
  left: 23px;
  width: 429px;
  height: 38px;
  font-weight: 700;
  font-size: 36px;
  line-height: 52.32px;
  letter-spacing: 0.02em;
  color: #000000;
}

.playday-p3 {
  position: absolute;
  top: 500px;
  left: 23px;
  width: 492px;
  height: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 52.32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.payday-bg-white {
  position: absolute;
  top: 0;
  left: -23px;
  width: 542px;
  height: 130px;
  rotate: -2deg;
  background-color: white;
}

@media screen and (max-width: 519px) {
  .section-payday {
    position: absolute;
    top: 30.3px;
    right: 0;
    width: 519px;
    height: 261.92px;
  }
  .payday-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 267.7px;
    height: 100%;
  }
  .payday-img img {
    width: 100%;
    height: 100%;
  }
  .white-star {
    width: 20.57px;
    height: 20.57px;
  }
  .white-star1 {
    position: absolute;
    top: 41.09px;
    left: 36.82px;
  }
  .white-star2 {
    position: absolute;
    top: 22.73px;
    left: 206.72px;
  }
  .white-star3 {
    position: absolute;
    top: 132.58px;
    left: 50.6px;
  }
  .white-star4 {
    position: absolute;
    top: 172.9px;
    left: 220.52px;
  }
  .payday-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 251.91px;
    height: 100%;
    background: linear-gradient(1.32deg, #e0c340 0.13%, #dfc23e 3.97%, #e1c441 7.2%, #e3c743 10.13%, #e4c542 12.98%, #e6c744 15.99%, #e7c845 19.52%, #e5c643 23.96%, #e6c945 30.43%, #e3c743 36.49%, #e9ca48 42.49%, #edce49 49.35%, #f0d44c 55.42%, #f4d84f 61.43%, #f6da52 65.74%, #f7db53 72.23%, #f9dd55 77.43%, #f9df56 83.84%, #fae157 91.52%, #f9df56 97.87%);
  }
  .payday-text {
    position: absolute;
    top: 34.67px;
    left: 18.13px;
    width: 166.29px;
    height: 78.15px;
  }
  .payday-text h2 {
    position: absolute;
    top: 0;
    right: 13.64px;
    width: 166.29px;
    height: 78.15px;
    font-weight: 900;
    font-size: 30px;
    color: #000000;
    line-height: 37px;
  }
  .payday-text .btn-shop-now-payday {
    position: absolute;
    bottom: 0;
    left: 6.29px;
    width: 71.72px;
    height: 25.79px;
    border-radius: 2.2px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    font-weight: 600;
    font-size: 7.55px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .playday-p1 {
    position: absolute;
    top: 18px;
    left: 6.29px;
    width: 173.64px;
    height: 24.54px;
    font-weight: 400;
    font-size: 9px;
    line-height: 14.16px;
    letter-spacing: -0.02em;
    color: #000000;
  }
  .playday-p2 {
    position: absolute;
    top: 122px;
    left: 6.29px;
    width: 116px;
    height: 10.38px;
    font-weight: 700;
    font-size: 9.75px;
    line-height: 14.16px;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .playday-p3 {
    position: absolute;
    top: 137.43;
    left: 6.29px;
    width: 133px;
    height: 10.38px;
    font-weight: 400;
    font-size: 9px;
    line-height: 14.16px;
    letter-spacing: -0.02em;
    color: #000000;
  }
  .payday-bg-white {
    position: absolute;
    top: 0;
    left: -6.29px;
    width: 146.19px;
    height: 35.28px;
    rotate: -2deg;
    background-color: white;
  }
}
.Favourites {
  position: absolute;
  top: 3649px;
  left: 100px;
  width: 1720px;
  height: 847px;
}

.Favourites-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 551px;
  height: 64px;
}

.Favourites-cards {
  display: flex;
  margin-top: 168px;
  width: 100%;
  height: 679px;
  gap: 47px;
}

.Favourites-cards-img {
  width: 100%;
  height: 575px;
  border-radius: 20px;
}

.trending {
  width: 835px;
  height: 100%;
}

.explore-now-trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 76px;
  margin-top: 28px;
}

.trending-text {
  width: 345px;
  height: 100%;
}
.trending-text h2 {
  width: 100%;
  height: 36px;
}
.trending-text p {
  width: 146px;
  height: 33px;
}

.under {
  width: 838px;
  height: 100%;
}

.explore-now-under {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  margin-top: 28px;
}

.under-text {
  width: 200px;
  height: 100%;
}
.under-text h2 {
  width: 100%;
  height: 35px;
}
.under-text p {
  width: 143px;
  height: 33px;
}

.favourite-cards-img {
  width: 100%;
  height: 575px;
  border-radius: 20px;
}

@media screen and (max-width: 519px) {
  .Favourites {
    position: absolute;
    top: 343.63px;
    left: 28.14px;
    width: 443.2px;
    height: 229.18px;
  }
  .Favourites-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 134px;
    height: 17px;
  }
  .Favourites-cards {
    display: flex;
    margin-top: 45.46px;
    width: 100%;
    height: 183.52px;
    gap: 15.96px;
  }
  .Favourites-cards-img {
    width: 100%;
    height: 155.58px;
    border-radius: 10px;
  }
  .trending {
    width: 202.93px;
    height: 100%;
  }
  .explore-now-trending {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20.56px;
    margin-top: 7.58px;
  }
  .trending-text {
    width: 93.35px;
    height: 100%;
  }
  .trending-text h2 {
    width: 100%;
    height: 9.74px;
  }
  .trending-text p {
    width: 30.3px;
    height: 8.93px;
  }
  .under {
    width: 202.93px;
    height: 100%;
  }
  .explore-now-under {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20.36px;
    margin-top: 7.58px;
  }
  .under-text {
    width: 54.11px;
    height: 100%;
  }
  .under-text h2 {
    width: 100%;
    height: 9.47px;
  }
  .under-text p {
    width: 39px;
    height: 9px;
  }
  .favourite-cards-img {
    width: 100%;
    height: 155.58px;
    border-radius: 10px;
  }
}
.voucher {
  display: flex;
  position: absolute;
  top: 4716px;
  left: 219px;
  width: 1483px;
  height: 710px;
}

.voucher-content {
  position: absolute;
  top: 181px;
  left: 0;
  width: 507px;
  height: 382px;
}

.voucher-content-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 246px;
}
.voucher-content-text h2 {
  width: 100%;
  height: 144px;
  font-weight: 900;
  font-size: 48px;
  color: #000000;
  line-height: 150%;
  letter-spacing: 0.04em;
}
.voucher-content-text p {
  width: 419px;
  height: 61px;
  font-weight: 500;
  font-size: 24px;
  color: #7c7c7c;
  line-height: 35px;
  letter-spacing: -0.04em;
  margin-top: 41px;
}

.voucher-apps {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 427px;
  height: 71px;
  gap: 19px;
}

.app-match {
  position: absolute;
  top: -22.5px;
  right: 118px;
  width: 372.5x;
  height: 755px;
  border: 22.58px solid #c2c8da;
  box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  z-index: 1;
}

.circle1 {
  width: 22px;
  height: 24px;
  position: absolute;
  top: 55px;
  left: 846px;
}

.circle2 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 1411px;
}

.circle3 {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 669px;
  left: 812px;
}

.circle4 {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 590px;
  left: 1466px;
}

.circles-small {
  position: absolute;
  top: 138px;
  left: 937px;
  width: 440px;
  height: 434px;
  border: 2.5px solid #efeceb;
  border-radius: 50%;
}

.circles-medium {
  position: absolute;
  top: 90px;
  left: 895px;
  width: 537px;
  height: 530px;
  border: 2.5px solid #efeceb;
  border-radius: 50%;
}

.circles-large {
  position: absolute;
  top: 40px;
  left: 846px;
  width: 637px;
  height: 629px;
  border: 2.5px solid #efeceb;
  border-radius: 50%;
}

@media screen and (max-width: 519px) {
  .voucher {
    display: flex;
    position: absolute;
    top: 628px;
    left: 60.34px;
    width: 417.75px;
    height: 200px;
  }
  .voucher-content {
    position: absolute;
    top: 53.31px;
    left: 0;
    width: 133.12px;
    height: 93.89px;
  }
  .voucher-content-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57.09px;
  }
  .voucher-content-text h2 {
    width: 100%;
    height: 29.49px;
    font-weight: 900;
    font-size: 13px;
    color: #000000;
    line-height: 16.23px;
    letter-spacing: 0.04em;
  }
  .voucher-content-text p {
    width: 113.37px;
    height: 16.5px;
    font-weight: 500;
    font-size: 6.49pxpx;
    color: #7c7c7c;
    line-height: 9.47px;
    letter-spacing: -0.04em;
    margin-top: 11.09px;
  }
  .voucher-apps {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 115.54px;
    height: 19.21px;
    gap: 5.14px;
  }
  .app-match {
    position: absolute;
    top: -3.66px;
    right: 38.24px;
    width: 96px;
    height: 203.66px;
    border: 3.66px solid #c2c8da;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 9.85px;
    z-index: 1;
  }
  .circle1 {
    width: 5.95px;
    height: 6.49px;
    position: absolute;
    top: 19.22px;
    left: 228.9px;
  }
  .circle2 {
    width: 13.53px;
    height: 13.53px;
    position: absolute;
    top: 15.16px;
    left: 381.76;
  }
  .circle3 {
    width: 9.2px;
    height: 9.2px;
    position: absolute;
    top: 185.35px;
    left: 219.7px;
  }
  .circle4 {
    width: 4.6px;
    height: 4.6px;
    position: absolute;
    top: 163.97px;
    left: 396.66px;
  }
  .circles-small {
    position: absolute;
    top: 37px;
    left: 254.38px;
    width: 124.56px;
    height: 123px;
    border: 0.49px solid #efeceb;
    border-radius: 50%;
  }
  .circles-medium {
    position: absolute;
    top: 26px;
    left: 240.66px;
    width: 149px;
    height: 147.13px;
    border: 0.58px solid #efeceb;
    border-radius: 50%;
  }
  .circles-large {
    position: absolute;
    top: 15.16px;
    left: 228.9px;
    width: 172.36px;
    height: 170.19px;
    border: 0.68px solid #efeceb;
    border-radius: 50%;
  }
}
.community {
  position: absolute;
  top: 5646px;
  left: 0;
  width: 1920px;
  height: 623px;
  background-color: #e5c643;
}
.community h2 {
  margin-top: 141px;
  margin-left: 477px;
  width: 966px;
  height: 124px;
  font-weight: 900;
  font-size: 55px;
  color: white;
  line-height: 70px;
  letter-spacing: 0.03em;
  text-align: center;
}
.community p {
  margin-top: 37px;
  margin-left: 455px;
  width: 1010px;
  height: 29px;
  font-weight: 400;
  font-size: 32px;
  color: #fffcf8;
  line-height: 35px;
  letter-spacing: 0.03em;
  text-align: center;
}

.add-email {
  margin-top: 49px;
  margin-left: 673px;
  width: 574px;
  height: 87px;
  background-color: white;
}
.add-email .add-email-here {
  width: 269px;
  height: 25px;
  margin: 27px 107px 35px 27px;
  font-weight: 400;
  font-size: 24px;
  color: #767676;
  line-height: 35px;
  letter-spacing: 0.03em;
  border: none;
}

.add-email-btn {
  position: absolute;
  top: 390px;
  right: 683px;
  width: 161px;
  height: 67px;
  border-radius: 8px;
  padding: 17px 35px 15px 38px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  font-weight: 500;
  font-size: 24px;
}

@media screen and (max-width: 519px) {
  .community {
    position: absolute;
    top: 5646px;
    left: 0;
    width: 1920px;
    height: 623px;
    background-color: #e5c643;
  }
  .community h2 {
    margin-top: 141px;
    margin-left: 477px;
    width: 966px;
    height: 124px;
    font-weight: 900;
    font-size: 55px;
    color: white;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .community p {
    margin-top: 37px;
    margin-left: 455px;
    width: 1010px;
    height: 29px;
    font-weight: 400;
    font-size: 32px;
    color: #fffcf8;
    line-height: 35px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .add-email {
    margin-top: 49px;
    margin-left: 673px;
    width: 574px;
    height: 87px;
    background-color: white;
  }
  .add-email .add-email-here {
    width: 269px;
    height: 25px;
    margin: 27px 107px 35px 27px;
    font-weight: 400;
    font-size: 24px;
    color: #767676;
    line-height: 35px;
    letter-spacing: 0.03em;
    border: none;
  }
  .add-email-btn {
    position: absolute;
    top: 390px;
    right: 683px;
    width: 161px;
    height: 67px;
    border-radius: 8px;
    padding: 17px 35px 15px 38px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    font-weight: 500;
    font-size: 24px;
  }
}
.footer {
  position: absolute;
  top: 6269px;
  left: 0;
  width: 1920px;
  height: 545px;
  background-color: #000000;
}

.footer-containter {
  margin-top: 119px;
  margin-left: 100px;
  width: 1720px;
  height: 279px;
}

.fashion {
  width: 415px;
  height: 248px;
  gap: 32px;
}
.fashion h2 {
  width: 192px;
  height: 52px;
  font-weight: 900;
  font-size: 40px;
  color: white;
  line-height: 100%;
  letter-spacing: 0.03em;
}
.fashion p {
  font-family: "Roboto", sans-serif;
  width: 415px;
  height: 80px;
  font-weight: 400;
  font-size: 24px;
  color: #8e8e8e;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.icons {
  display: flex;
  width: 250px;
  height: 52px;
  margin-left: 0;
  margin-bottom: 0;
  gap: 14px;
  margin-top: 32px;
}
.icons img {
  width: 52px;
  height: 100%;
}

.footer-list {
  position: absolute;
  top: 125px;
  right: 100px;
  display: flex;
  width: 890px;
  height: 273px;
  gap: 188px;
}

thead {
  color: #d9d9d9;
}

tbody {
  color: #7a7a7a;
}
tbody td {
  margin-top: 20px;
}

tr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

td {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.company-list {
  width: 120px;
  height: 100%;
}

.quick-Link-list {
  width: 177px;
  height: 100%;
}

.legal-list {
  width: 217px;
  height: 149px;
}

@media screen and (max-width: 519px) {
  .footer {
    position: absolute;
    top: 6269px;
    left: 0;
    width: 1920px;
    height: 545px;
    background-color: #000000;
  }
  .footer-containter {
    margin-top: 119px;
    margin-left: 100px;
    width: 1720px;
    height: 279px;
  }
  .fashion {
    width: 415px;
    height: 248px;
    gap: 32px;
  }
  .fashion h2 {
    width: 192px;
    height: 52px;
    font-weight: 900;
    font-size: 40px;
    color: white;
    line-height: 100%;
    letter-spacing: 0.03em;
  }
  .fashion p {
    font-family: "Roboto", sans-serif;
    width: 415px;
    height: 80px;
    font-weight: 400;
    font-size: 24px;
    color: #8e8e8e;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
  .icons {
    display: flex;
    width: 250px;
    height: 52px;
    margin-left: 0;
    margin-bottom: 0;
    gap: 14px;
    margin-top: 32px;
  }
  .icons img {
    width: 52px;
    height: 100%;
  }
  .footer-list {
    position: absolute;
    top: 125px;
    right: 100px;
    display: flex;
    width: 890px;
    height: 273px;
    gap: 188px;
  }
  thead {
    color: #d9d9d9;
  }
  tbody {
    color: #7a7a7a;
  }
  tbody td {
    margin-top: 20px;
  }
  tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  td {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
  .company-list {
    width: 120px;
    height: 100%;
  }
  .quick-Link-list {
    width: 177px;
    height: 100%;
  }
  .legal-list {
    width: 217px;
    height: 149px;
  }
}/*# sourceMappingURL=main.css.map */